{% extends 'base.html' %} {% block title %}Admin Dashboard{% endblock %} {%
block content %}
<div class="container mt-5" id="navbarNav">
  <h2 class="mb-4">Purchase Details</h2>
  <table class="table table-striped table-bordered table-black" id="navbarNav">
    <thead class="thead-dark">
      <form action="{{url_for('auth.aloginvalidation')}}">
        <button
          type="submit"
          class="btn btn-primary"
          style="width: fit-content"
        >
          Refresh
        </button>
      </form>
      <tr>
        <th>Product_id</th>
        <th>Product_Name</th>
        <th>Rate</th>
        <th>Stock</th>
      </tr>
    </thead>
    <tbody>
      {% for store in storeitems %}
      <tr>
        <td>{{ store.product_id }}</td>
        <td>{{ store.product_name }}</td>
        <td>{{ store.rate }}</td>
        <td>{{ store.stock }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <br />
  <div class="container mt-5">
    <h2>Add Product Form</h2>
    <form class="custom-form" action="/productitems" method="post">
      <div class="form-group row">
        <label for="ProductName" class="col-sm-2 col-form-label">Product Name</label>
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            id="ProductName"
            name="ProductName"
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="Rate" class="col-sm-2 col-form-label">Rate</label>
        <div class="col-sm-10">
          <input
            type="number"
            class="form-control"
            id="Rate"
            name="Rate"
            placeholder="Enter the Rate"
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="Stock" class="col-sm-2 col-form-label">Stock</label>
        <div class="col-sm-10">
          <input
            type="number"
            class="form-control"
            id="Stock"
            name="Stock"
            placeholder="Enter the Stock"
          />
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-10 offset-sm-2">
          <button
            type="submit"
            class="btn btn-primary"
            style="border-radius: 2px"
          >
            Add
          </button>
        </div>
      </div>
    </form>
  </div>
  <br />
  <br />
  <form action="/logout">
    <button class="btn btn-primary" type="submit">Logout</button>
  </form>
</div>

{% endblock %}
